@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './css/resetcss.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgb(62, 62, 62);
  background-color: cadetblue;
  min-height: 100vh;
}

a {
  font-family: inherit;
  color: inherit;
}
